<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Employee Management System</title>
    <link rel="stylesheet" href="https://phoonwenhao-employee.s3.amazonaws.com/Homepage.css" />
  </head>

  <body>
    <div class="banner">
      <div class="slider">
        <img src="images/office.jpg" id="slideImg" />
      </div>
      <div class="overlay">
        <div class="homeTitle">
          <h1>Welcome to Employee Management System</h1>
        </div>

        <div class="container">
          <div class="center">
            
            <!-- Add New Employee -->
            <div class="content">
              <a href="/addemp/">
                <h2>Add Employee</h2>
                <img src="https://phoonwenhao-employee.s3.amazonaws.com/add.png" class="imgop" />
                <h3>You can add an new employee here</h3>
              </a>
            </div>

            <!-- Search New Employee -->
            <div class="content">
              <a href="/getemp/">
                <h2>Search Employee</h2>
                <img src="https://phoonwenhao-employee.s3.amazonaws.com/search.png" class="imgop" />
                <h3>You can find an employee here</h3>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
