<html>

    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Employee Management System</title>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <link rel="stylesheet" href="Add.css">
    </head>

<body>

    <div class="banner">
        <div class="slider">
            <img src = "images/office.jpg" id = "slideImg">
        </div>
        <div class="overlay">

           <div class ="empInfo">
            <h1>Employee Remove Sucesfully!</h1>
            <ul>
                <li class="prev"><span></span></li>
            </ul>
           </div>

           <div class="inputSucess">
            <div class="wrapper">
                    <div class="sucess">
                        <div class="alert_icon">
                            <ion-icon name="trash-outline" class="icon_remove"></ion-icon>
                        </div>
                    
                    <div class="content_sucess">
                            <p class="title">Following employee had removed sucesfully from employee database</p>
                            <p class="sucess_info"> {{ result[1] }} </p> <!--output-->
                    </div>
                
                </div>
             
            </div>
            <button type="submit" class="removeAnotherEmp">Remove Again</button>
           </div>

            
        </div>
    </div>


</body>


</html>